extends ./layout/index

block contenido 
  main.container.mt-5 
    .row 
      .col-md-5 
        img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
      .col-md-7
        h1= pagina
        blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra sapien a diam convallis porttitor. Aliquam eget ipsum sit amet ipsum malesuada pharetra. Donec vel ultrices lacus. Nulla volutpat justo libero, eu imperdiet quam ultricies a. 

        p quis lectus eu eros pharetra placerat quis et lorem. Quisque dolor nunc, feugiat vitae sagittis nec, euismod eget turpis. Sed leo quam, fermentum et porttitor eu, pulvinar et libero. Quisque lacinia, leo quis maximus convallis, odio libero eleifend lorem, quis euismod felis urna sit amet tellus.

        p accumsan odio imperdiet justo iaculis, vitae interdum nulla ultrices. Curabitur congue libero at dolor laoreet,  quam nulla suscipit eros, a facilisis libero dolor ut nibh. Nulla tellus urna, accumsan non dui vitae, dapibus varius sapien. Nam odio ipsum, lobortis in tortor et, ornare tempus nisl. Etiam scelerisque rutrum velit, ac pulvinar leo ultricies eu. Etiam ut efficitur leo.

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row  
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mt-4")
          h2 Seguridad 
          p facilisis libero dolor ut nibh. Nulla tellus urna, accumsan non dui vitae, dapibus varius sapien. Nam odio ipsum, lobortis in tortor et, ornare tempus nisl. Etiam scelerisque rutrum velit, ac pulvinar leo ultricies eu. Etiam ut efficitur leo
        
        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mt-4")
          h2 Mejores Destinos 
          p facilisis libero dolor ut nibh. Nulla tellus urna, accumsan non dui vitae, dapibus varius sapien. Nam odio ipsum, lobortis in tortor et, ornare tempus nisl. Etiam scelerisque rutrum velit, ac pulvinar leo ultricies eu. Etiam ut efficitur leo

        .col-md-4
          img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mt-4")
          h2 Mejores Precios 
          p facilisis libero dolor ut nibh. Nulla tellus urna, accumsan non dui vitae, dapibus varius sapien. Nam odio ipsum, lobortis in tortor et, ornare tempus nisl. Etiam scelerisque rutrum velit, ac pulvinar leo ultricies eu. Etiam ut efficitur leo